.any {
  .box {
    &.header {
      .menu {
        float: right;
      }
    }
    &.photo {
      img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
      }
    }
    &.pickup {

    }
    &.info {

    }
    &.footer {
      .copyright {
        margin: 0;
        color: #666666;
        font-size: 14px;
      }
    }
  }
}
