@import (inline) "normalize.css/normalize.css";

body {
    margin: 0;
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

.any {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            list-style: none;
        }
    }
    a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: #eeeeee;
        }
    }
    .hidden {
        display: none;
        opacity: 0;
    }
    .item {
        float: left;
    }
    .box {
    }
    .list-view {
        > .list-view-item {

        }
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        > .menu-item {
            float: left;
            width: auto;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .navigation {
        .prev {

        }
        .next {

        }
    }
    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
        .pagination-item {
            float: left;
            width: auto;
            cursor: pointer;
            span {
                display: block;
                width: 12px;
                height: 12px;
                margin: 5px 7px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                background: #808080;
            }
            &.selected span {
                background: #505050;
            }
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .context-menu {
        position: absolute;
        .context-menu-item {

        }
    }
    .carousel {
        overflow: hidden;
        position: relative;
        .carousel-wrapper {
            position: relative;
            display: block;
            .carousel-item {
                float: left;
                width: auto;
            }
            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
    .layer {
    }
    .dialog {
        display: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }
}

/* ########## 599px 이하 ########## */
@media (max-width: 599px) {
    .any {
        li.menu a {
            padding: 10px 3px;
            font-size: 11px;
        }
    }
}

/* ########## 768px 이상 ########## */
@media (min-width: 768px) {
    .any {
        .box {
            &.horizontal {
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                > .box {
                    float: left;
                }
            }
        }
    }
}

/* ########## 1190px 이상 ########## */
@media (min-width: 1190px) {
    .layer {
    }
}
